<%= render "shared/banner" %>
<div class="container">
  <h1 class = "mt-3 mb-0 p-0 border-bottom">My Lists</h1>
  <div class="row">
    <% @lists.each do |list| %>
        <a class = "text-decoration-none col-12 col-sm-6 col-md-4 col-lg-3" href= "<%=list_path(list) %>" >
          <div class="card card-height-sm bg-dark text-white m-3">
            <% if list.movies.count > 0 %>
              <img src="https://image.tmdb.org/t/p/w500/<%= list.movies.first.poster_url %>" alt="" class="card-img">
            <% end %>
            <div class="card-img-overlay card-img-dark d-flex align-items-center justify-content-center">
              <h3 class="card-title"><%= list.name %></h5>
            </div>
          </div>
        </a>
    <% end %>
  </div>
</div>
