<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('assets/cinema.jpg');">
  <div class="container">
    <h1>Movie Madness</h1>
    <p><span data-controller="typed-js">Share the magic...</span></p>
  </div>
</div>
